<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PFRViews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pfreddit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63ACDE2D1BFB8EF9008521BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63ACDE441BFB8EF9008521BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63ACDE4F1BFB8EF9008521BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63ACDE6A1BFB91A9008521BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63ACDE731BFB91A9008521BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
